@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 20, 37);
  padding: 0 2%;
}

.box-login{
  width: 100%;
  max-width: 400px;
  padding: 30px 10px;
  color: white;
  background-color: rgb(18, 14, 22);
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.box-login form{
  width: 100%;
  max-width: 300px;
}

.box-login form h2{
  margin-top: 15px;
  font-size: 1rem;
}

.box-login form a:hover{
  text-decoration: none;
}

.box-login form .field{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin-top: 15px;
}

.box-login form .field input{
  padding: 10px 8px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px 0 10px 0;
  color: white;
}

.box-login form .field input[type="submit"]{
  cursor: pointer;
  border-radius: 0;
  transition: .3s;
}

.box-login form .field input[type="submit"]:hover{
  background-color: #ccc;
  color: rgb(18, 14, 22);
}

.container nav{
  width: 100%;
  max-width: 300px;
  background-color: rgb(18, 14, 22);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-radius: 20px 0 20px 0;
}


.container nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
}

.container nav a{
  text-decoration: none;
}

.container nav a li{
  border: 1px solid #ccc;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  color: #ccc;
  transition: .3s;
}

.container nav a li:hover{
  background-color: #ccc;
  color: rgb(18, 14, 22);
}

.container .private-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 30px 2%;
  background-color: rgb(18, 14, 22);
}

.container .private-page h2{
  margin-bottom: 20px;
  color: white;
}

.container .private-page h3{
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #ccc;
  background-color: rgb(12, 10, 14);
}

.container .private-page button{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 1rem;
  transition: .3s;
  cursor: pointer;
}

.container .private-page button:hover{
  background-color: #ccc;
  color: rgb(12, 10, 14);
}